<% if @director %>
  <h2><%= @director.name %>'s Movies</h2>
<% else %>
  <h2>All Movies</h2>
<% end %>

<div class="show-card">
  <% @movies.each do |movie| %>
    <%= link_to movie.title, movie_path(movie) %> <br><br>
  <% end %>

  <p><%= button_to 'Add Movie', new_movie_path, method: :get %></p>
  <%= link_to 'Most Viewed Movies', '/movies/most_viewed' %>
</div>

