<h2>Movies You've Seen</h2>

<%= render 'movie_nav' %><br><br>

<div class="show-card">
  <% @movies_viewed_by_user.each do |movie| %>
    <%= link_to movie.title, movie_path(movie) %>
     - <%= "#{user_rating(movie)} " + "star".pluralize(user_rating(movie)) %><br><br>
  <% end %>
</div>