<% if params[:user_id].to_i != current_user.id %>
  <h2>Movies seen by <%= user_by_params(params) %></h2>
<% else %>
  <h2>Movies You've Seen</h2>
<% end %>

<%= render 'movie_nav' %><br>

<div class="show-card">
  <% @movies_viewed_by_user.each do |movie| %>
    <%= link_to movie.title, movie_path(movie) %>
     - <%= "#{user_rating(movie)} " + "star".pluralize(user_rating(movie)) %><br><br>
  <% end %>
</div>