<h2>Here's a Random Suggestion</h2>

<%= render 'movie_info' %>

<div class="center">
  <%= link_to 'Next Suggestion', random_movie_picker_path(:user_id => current_user.id), class: 'btn btn-lg btn-default next-suggestion' %>
</div>