// // $(function(){
// //     $("a.rating-js").on("click", function(e) {
// //       debugger;
// //     });
// // })

$(document).on("click", ".rating-js", function(e) {
  e.preventDefault();
  $.ajax({
    method: "POST",
    url: e.target.form.action,
    data: $(e.target.form).serialize(),
    dataType: "JSON"
  }).success(function(response){
    // create a JS object
    var newViewing = new Viewing(response.rating)
    var addRating = newViewing.showRating()
    $('.viewing').html("").append(addRating)
  })
})

// Object Constructor //
function Viewing(rating) {
  this.rating = rating
}

// create a function for that object's prototype - format and add it to the current page?
Viewing.prototype.showRating = function() {
  var ratingHtml = ''
  ratingHtml += '<p><strong>You rated this: ' + this.countStars() + ' stars</strong></p>' 

  return ratingHtml
}

// find the appropriate amount of black/white stars to show
Viewing.prototype.countStars = function() {
  var whiteStars = (5 - this.rating)
  // multiply our rating by star codes
  array = (new Array(this.rating+1)).join("&#9733;")
  whiteArray = (new Array(whiteStars+1)).join("&#9734;")
  stars = array += whiteArray
  
  return stars
}