.navbar {
  margin-bottom: 0px;
  background-color: #555;
}

.navbar-brand {
  color: #ebeef4;
  letter-spacing: 0.25em;
}

.h2 {
  position: absolute;
  top: 50px;
  left: 50px;
}

.content-container {
  max-width: 80%;
  margin: auto;
}