.navbar {
  margin-bottom: 0px;
  background-color: #555;
}

.navbar-brand {
  color: #ebeef4;
  letter-spacing: 0.25em;
}

.content-container {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
}

.content-container h2 {
  margin-bottom: 50px;
  text-align: center;
}