.navbar {
  margin-bottom: 0px;
  background-color: #555;
}

.navbar-brand {
  // color: #ebeef4;
  letter-spacing: 0.25em;
}


.content-container {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
}

.content-container h2 {
  margin-bottom: 30px;
  text-align: center;
}

.jumbotron {
  border-radius: 6px;
  text-align: center;
}

.center {
  text-align: center;
  margin: auto;
}

.navbar-div {
  display: inline;
  margin-right: 20px;
  color: #ebeef4;
}

.show-card, .viewing {
  margin-left: 180px;
}

.viewing {
  margin-top: 20px;
}

.movie-show-options {
  display: inline;
}

.navbar-default .navbar-nav > li > a {
  color: #ebeef4;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-header .navbar-brand {
  color: #ed9e5e;
}

.btn-success {
  border-color: #ed9e5e;
}

.btn-success:hover {
    color: #fff;
    background-color: #92d185;
    border-color: #92d185;
}

.btn-orange {
  background-color: #ed9e5e;
}
