body {
  background-color: #e8e8e8;
}

.navbar {
  margin-bottom: 0px;
  background-color: #555;
}

.navbar-brand {
  // color: #ebeef4;
  letter-spacing: 0.25em;
}

.content-container {
  max-width: 80%;
  margin: auto;
  margin-top: 80px;
  background-color: #fff;
  height: 100vh;
  border-radius: 6px;
  // -webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
  // box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
}

.content-container h2 {
  padding-top: 20px;
  text-align: center;
}

.flash-errors {
  margin-top: 90px;
}

p {
  margin: 0px;
}

.alert {
  background-color: rgba(255, 0, 0, 0.3);
  border: 0px;
}

.notice {
  background-color: #92d185;
  border: 0px;
  padding: 15px;
}

.new-movie {
  padding-top: 50px;
}

.jumbotron {
  border-radius: 6px;
  text-align: center;
  background-color: #fff;
  margin: auto;
  margin-top: 70px;
  max-width: 80%;
}

.center {
  text-align: center;
  margin: auto;
}

.navbar-div {
  display: inline;
  margin-right: 20px;
  color: #ebeef4;
}

.show-card, .viewing {
  margin: auto;
  max-width: 75%;
  // background-color: #fff;
}

.viewing {
  margin-top: 20px;
  // margin-left: 0px;
}

.movie-show-options {
  display: inline;
}

.navbar-default .navbar-nav > li > a {
  color: #ebeef4;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-header .navbar-brand {
  color: #ed9e5e;
}

.btn-success {
  border-color: #ed9e5e;
}

.btn-success:hover {
    color: #fff;
    background-color: #92d185;
    border-color: #92d185;
}

.btn-orange {
  background-color: #ed9e5e;
}
