<!-- We don't want the home page to have the same layout, content-container effects jumbotron -->
<% if path == "/" %>
  <%= yield %>
<% else %>
  <div class="content-container">
    <%= yield %>
  </div>
<% end %>